<h2>Sign In</h2><br>

<%= form_tag sessions_path do %>
  <%= label_tag :email %><br>
  <%= text_field_tag :email %><br><br>
  <%= label_tag :password %><br>
  <%= password_field_tag :password %><br><br><br>
  <%= submit_tag "Sign In", class: "btn btn-primary"%><br><br><br>
<% end %>


<h4><a href="../users/new">Not a User? Sign Up Instead</a></h4>
