<%=link_to "Locations", locations_path%>
<%=link_to "Tool Types", tool_types_path%>
<%=link_to "Book New Reservation", new_reservation_path%>


<h1><%= @tool_type.name %></h1>
<ul>
  <% @tool_type.items.each do |item| %>
  <li> <%=link_to item.name, item_path(item)%> </li>
  <% end %>

</ul>
