<div class="clearnav navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><%=link_to "Locations", locations_path%></li>
    <li><%=link_to "Tool Types", tool_types_path%></li>
    <li><%=link_to "Book New Reservation", new_reservation_path%></li>
  </ul>
</div>

<h1>Users</h1>
<% @users.each do |user| %>
<ul>
  <h3> Name: <%= link_to user.name, user_path(user) %></h3>
  <h3> Email Address: <%= user.email %></h3>
  <h3> Password: <%= user.password %></h3>
  <h3> User Location: <%= link_to user.location.name, location_path(user.location) %></h3><br><br>
</ul>

<div class="profile_pic">
  <%= image_tag("profile/#{user.name.downcase}.png", :size=> '100x100') %>
</div>
<% end %>
