<%=link_to "Locations", locations_path%>
<%=link_to "Tool Types", tool_types_path%>
<%=link_to "Book New Reservation", new_reservation_path%>

<h1><%= @user.name %></h1>
<ul>
  <h3> Email Address: <%= @user.email %></h3>
  <h3> Password: <%= @user.password %></h3>
  <h3> User Location: <%= link_to @user.location.name, location_path(@user.location) %></h3>
  <h3> User Items: </h3><%@user.items.each do |item| %>
  <ul>
    <h3><li><%= link_to item.name, item_path(item) %></li></h3>
    <ul>
      <h4><li>Please Return By: <%= item.reservations.first.end_date %></li></h4>
    </ul>
  </ul>
  <% end %>
</ul>
