<h1>New Reservation</h1>

<%= form_for @reservation do |f| %>
  <%=f.label :user_name %>
  <%=f.collection_select :user_id, User.all, :id, :first_name %> <!--edit based on updated schema -->
  <%=f.label :runtime %>
  <%=f.text_field :runtime %>
  <%=f.submit %>
<% end %>
