<div class="clearnav navbar navbar-default">
  <ul class="nav navbar-nav">
    <h1>Items</h1>
  </ul>
</div>

<%= form_tag(items_path, method: "get") do %>
<%= select_tag "location", options_from_collection_for_select(@locations, "id", "name"), prompt: "Select Location" %>
<%= select_tag "tool_type", options_from_collection_for_select(ToolType.all, "id", "name"), prompt: "Select Tool Type" %>
<%= select_tag "cost_daily_min",options_for_select((1..20).map{|s| ["$#{s}", s]}), prompt: "Select Cost Minimum" %>
<%= select_tag "cost_daily_max",options_for_select((1..20).map{|s| ["$#{s}", s]}), prompt: "Select Cost Maximum" %>
<%= submit_tag("Filter") %>
<% end %>




<div class="row" style="margin-bottom: 50px">

<% @items.each do |item| %>

<div class="col-sm-3">
  <div class="card" style="width: 20rem; margin: 40px 0">
    <div class="card-block">
      <div class="card-img-top"/> <%= image_tag("#{item.image_url}", :size=> '300x200') %> </div>
      <div class="card-block">
        <h4 class="card-title"><%=link_to item.name, item_path(item)%> </h4>


          <p class="card-text">Brand: <%=item.brand%></p>
          <p class="card-text">Tool Type:  <%=link_to item.tool_type.name, tool_type_path(item.tool_type)%></p>
          <p class="card-text">Daily Cost: $<%=item.cost_daily%></p>
          <p class="card-text">Hourly Cost: $<%=item.cost_hourly%></p>
          <p class="card-text">Location: <%=link_to item.location.name, location_path(item.location)%></p>
          <p class="card-text"><%=item.available?%></p>


        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<%end%>
