<%=link_to "Locations", locations_path%>
<%=link_to "Book New Reservation", new_reservation_path%>

<p>Filter </p>
<%= form_tag(item_path("item"), method: "get") do %>
<%= select_tag "brands", options_from_collection_for_select(@items, "id", "name") %>
<%= submit_tag %>
<% end %>



<h1>Items</h1>
<% @items.each do |item| %>
  <ul>
    <h2><%=link_to item.name, item_path(item)%></h2>
    <h3>Brand:<li><%=item.brand%></li></h3>
    <h3>Tool Type: <li><%=link_to item.tool_type.name, tool_type_path(item.tool_type)%></li></h3>
    <h3>Daily Cost:<li>$<%=item.cost_daily%></li></h3>
    <h3>Hourly Cost:<li>$<%=item.cost_hourly%></li></h3>
    <h3>Available:<li><%=item.available%></li></h3>
    <h3>Location:<li><%=link_to item.location.name, location_path(item.location)%></li></h3>
  </ul>
<%end%>
