<div class="clearnav navbar navbar-default">
  <ul class="nav navbar-nav">
    <h1><%=@item.name%></h1>
  </ul>
</div>


<div class="row" style="min-width: 600px">

      <div class="col-md-4" style="min-width: 300px"/> <%= image_tag("#{@item.image_url}", :size=> '300x200') %>
      </div>

      <div class="col-md-4" style="margin-left: 40px">
        <h4 class="card-text">Brand: <%=@item.brand%></h4>
        <h4 class="card-text">Tool Type: <%=link_to @item.tool_type.name, tool_type_path(@item.tool_type)%></h4>
        <h4 class="card-text">Daily Cost: $<%=@item.cost_daily%></h4>
        <h4 class="card-text">Hourly Cost: $<%=@item.cost_hourly%></h4>
        <h4 class="card-text">Location: <%=link_to @item.location.name, location_path(@item.location)%></h4>
        <h4 class="card-text"> <%=@item.available?%></h4>
      </div>

  </div>

  <div class="row">
    <div class="col-md-6" style="margin-left: 40px">
      <h3>Reviews:</h3>
      <% @item.get_reviews.each do |review| %>
      <span style="font-weight: bold"><%= review.reservation.user.name%></span> says
      <span style="font-weight: bold">"<%= review.content if review.content %>"</span><br>
      Score: <%= review.rating if review.rating%>/10
      <% end %>
    </div>
  </div>
