<h1><li><%=@item.name%></li></h1>

<ul>
  <h3>Brand:<li><%=@item.brand%></li></h3>
  <h3>Tool Type:<%=@item.tool_type.name%></h3>
  <h3>Daily Cost:<li>$<%=@item.cost_daily%></li></h3>
  <h3>Hourly Cost:<li>$<%=@item.cost_hourly%></li></h3>
  <h3>Availability:<li><%=@item.available%></li></h3>
  <h3>Location:<li><%=@item.location.name%></li></h3>
</ul>
